<!-- logback-spring.xml -->
<configuration>
    <!-- Your Logback configuration here -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="consoleAppender" />
    </root>
<!--    <logger name="org.springframework.data.mongodb" level="DEBUG" />-->

</configuration>
